<%- include("partials/header.ejs") %>
    <%- include("partials/headerPag.ejs") %>

        <main class="main">
            <div class="container">
                <% cats.forEach(cat=> { %>

                    <div class="row item">
                        <div class="col-md-3 item-principal">
                            <img src="/images/<%= cat.url %>" alt="<%= cat.name %>">
                            <h3>
                                <%= cat.name %>
                            </h3>
                            <p>
                                <%= cat.age %>
                                    <%= cat.age===1 ? 'ano' : 'anos' %>
                            </p>
                        </div>
                        <div class="col-md-9 item-texto">
                            <h2>Sobre Mim</h2>
                            <p>
                                <%= cat.description %>
                            </p>
                            <div class="button-container">
                                <a href="/gatos/<%= cat.id %>" class="button">Adote-me</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </main>

        <%- include("partials/footerPag.ejs") %>

            <%- include("partials/footer.ejs") %>